#if($m.request.preview.inPreviewMode)
	#set($strClazz = $m.getClass().forName("java.lang.String"))
	#set($extIdClazz = $m.getClass().forName("com.polopoly.cm.ExternalContentId"))
	#set($extId = $extIdClazz.getConstructor($strClazz).newInstance("com.atex.plugins.preview-reszier.Header.cnfg"))
	
	##set($previewConfig = $tool_model.getModel("3.275.1461745500"))
	#set($previewConfig = $tool_model.getModel($extId))
	
    <script src="#file({'contentId': $filesContentId, 'filename':'/webcomponents-lite.min.js'})"></script>
	<link rel="stylesheet" type="text/css" href="#file({'contentId': $filesContentId, 'filename':'/preview-mode.css'})">

    <link rel="import" href="#file({'contentId': $filesContentId, 'filename':'/components.html'})">
		
<script>

			var initPreviewModeDone = false;
        	var initPreviewMode = function() {
                  var resizer = new DeviceResizer({
                        defaultURL: window.location.href,
                        defaultWindowWidth: window.outerWidth,
                        defaultHandsetWidth: 360,
                        deviceProfiles: $previewConfig.deviceProfiles.value,
                        windowBreakpoints: $previewConfig.windowBreakpoints.value
                  });
                  var children = document.body.children;
                  for (var i = 0; i < children.length; i++) {
                      var child = children[i];
                      child.style.visibility = "hidden";
                  }
                  document.body.insertBefore(resizer, document.body.firstChild);
              $('body').css({"overflow":"hidden"});
        		  initPreviewModeDone = true;	  
        	};
			
			
            if (!window.frameElement) {
				window.addEventListener('WebComponentsReady', function(e) {   
					if ('$previewConfig.windowDefaultView.value' === 'none') {
    					var button = $('<a href="#" class="previewMode">$previewConfig.previewModeBtnText.value</a>');
                        $('body').prepend(button);
                        button.click (function(){
                    		initPreviewMode();
                    	});
					} else {
            			initPreviewMode();
            	    	$('iron-selector .tab[name="$previewConfig.windowDefaultView.value"]').click();
					}
				});
             } else {
				if (!window.parent.initPreviewModeDone) {
    				window.addEventListener('WebComponentsReady', function(e) {                    
    					if ('$previewConfig.IFrameDefaultView.value' === 'none') {
        					var button = $('<a href="#" class="previewMode">$previewConfig.previewModeBtnText.value</a>');
                            $('body').prepend(button);
                            button.click (function(){
                        		initPreviewMode();
                        	});
    					} else {
                			initPreviewMode();
                	    	$('iron-selector .tab[name="$previewConfig.IFrameDefaultView.value"]').click();
    					}
    				});
				}
				
        	 }
			 
</script>

#end